/* Основные стили для страницы */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Контейнер с основным контентом */
.container, .checker {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #1e1e1e;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Шапка (чёлка) с кнопками и логотипом */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    position: relative;
}

/* Логотип */
.logo img {
    height: 50px; /* Размер логотипа */
    margin-right: 20px;
}

/* Кнопки навигации */
.navbar {
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
}

.nav-button {
    padding: 10px 20px;
    background-color: #ff5722;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #e64a19;
}

/* Стили для основной кнопки в контейнере */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff5722;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e64a19;
}

/* Стили для текстовых полей и кнопок */
input[type="text"], textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2a2a2a;
    color: #ffffff;
    box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
    border-color: #ff5722;
}

/* Стили для текстового поля */
textarea {
    width: 100%; /* Занимает всю доступную ширину */
    height: 150px; /* Высота текстового поля */
    padding: 10px; /* Внутренние отступы */
    border: 2px solid #333; /* Цвет и ширина рамки */
    border-radius: 8px; /* Скругленные углы */
    background-color: #2a2a2a; /* Фон текстового поля */
    color: #ffffff; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    line-height: 1.5; /* Межстрочный интервал */
    box-sizing: border-box; /* Включает отступы и рамки в общую ширину/высоту */
    resize: vertical; /* Разрешает только вертикальное изменение размера */
}

/* Стили для вывода результата */
.output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
}

/* Стили для класса explanation */
.explanation {
    line-height: 1.2; /* Высота строки */
    font-size: 25px; /* Размер шрифта */
    color: #ffffff; /* Цвет текста */
    background-color: #1e1e1e; /* Цвет фона (по желанию) */
    padding: 10px; /* Отступы вокруг текста */
    border-radius: 4px; /* Скругление углов */
    border: 1px solid #444; /* Граница */
    margin-top: 20px; /* Отступ сверху */
}
