<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка текста</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='check_menu_style.css') }}">

    <!-- Добавление иконок сайта -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='log.svg') }}">
</head>
<body>
    <header class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='log.svg') }}" alt="SVG Иконка" width="100" height="100">
        </div>
        <nav class="navbar">
            <a href="/main" class="nav-button">Главная</a>
            <a href="/check" class="nav-button">Проверка</a>
        </nav>
    </header>

    <div class="checker">
        <h1>Проверка статьи</h1>

        <form id="article-form" method="POST">
            <textarea id="article-input" name="article" placeholder="Введите текст статьи здесь" required>{{ request.form.article }}</textarea>
            <button type="submit" class="button">Проверить</button>
        </form>

        {% if api_response %}
        <div class="api-response">
            <h2>Ответ от API:</h2>
            <p><strong>Статья </strong> {{ api_response.predicted_class | lower }}</p>
            <p><strong>Вероятность:</strong> {{ api_response.predicted_probability }}%</p>
            {% if proof %}
                <p class="explanation"><strong>Доказательство:</strong> <br> {{ proof }}</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
</body>
</html>
