<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FactSeeker</title>

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main_menu_style.css') }}">
    <!-- Установка SVG в качестве иконки сайта -->
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='log2.svg') }}">
</head>
<body>
    <div class="main-container">
        <header class="header">
            <img src="{{ url_for('static', filename='log2.svg') }}" alt="SVG Иконка" width="100" height="100">
            <h1>FactSeeker</h1>
            <p>Инструмент распознавания информации</p>
            <a href="/check" class="main-button">Перейти к проверке</a>
        </header>

        <section class="about">
            <h2>О нас:</h2>
            <p>FactSeeker - сервис, который позволяет проверять достоверность той или иной информации с помощью собственной модели машинного обучения.<p>
            <h2>Как это работает?</h2>
            <p>Сервис позволяет обработать информацию с помощью модели машинного обучения на выявление дезинформации и её вероятности в процентном соотношении.</p>
            <h1>Имеем свой API</h1>
            <p>FactSeeker имеет свой собственный API. Благодаря данному подходу, можно подключить модель, используемую в FactSeeker к чему угодно. Например, к соцсетям для проверки правды или лжи.</p>
        </section>
    </div>
</body>
</html>
